In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('dataset_Facebook.csv')

In [5]:
print(df.columns)

Index(['Page_total_likes', 'Type', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total Reach',
       'Lifetime Post Total Impressions', 'Lifetime Engaged Users',
       'Lifetime Post Consumers', 'Lifetime Post Consumptions',
       'Lifetime Post Impressions by people who have liked your Page',
       'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post',
       'comment', 'like', 'share', 'Total Interactions'],
      dtype='object')

In [6]:
print(df.shape)

(500, 19)

In [7]:
index = df.index
columns = df.columns
values = df.values

In [8]:
index

RangeIndex(start=0, stop=500, step=1)

In [9]:
columns

Index(['Page_total_likes', 'Type', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total Reach',
       'Lifetime Post Total Impressions', 'Lifetime Engaged Users',
       'Lifetime Post Consumers', 'Lifetime Post Consumptions',
       'Lifetime Post Impressions by people who have liked your Page',
       'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post',
       'comment', 'like', 'share', 'Total Interactions'],
      dtype='object')

In [10]:
values

array([[139441, 'Photo', 2, ..., 79.0, 17.0, 100],
       [139441, 'Status', 2, ..., 130.0, 29.0, 164],
       [139441, 'Photo', 3, ..., 66.0, 14.0, 80],
       ...,
       [81370, 'Photo', 1, ..., 93.0, 18.0, 115],
       [81370, 'Photo', 3, ..., 91.0, 38.0, 136],
       [81370, 'Photo', 2, ..., 91.0, 28.0, 119]], dtype=object)

In [11]:
df['Type']

0       Photo
1      Status
2       Photo
3       Photo
4       Photo
5      Status
6       Photo
7       Photo
8      Status
9       Photo
10     Status
11      Photo
12      Photo
13      Photo
14      Photo
15     Status
16      Photo
17      Photo
18     Status
19      Photo
20      Photo
21      Photo
22       Link
23      Photo
24     Status
25     Status
26     Status
27      Photo
28      Photo
29      Video
        ...
470      Link
471     Photo
472     Photo
473     Photo
474     Photo
475     Photo
476     Photo
477      Link
478     Photo
479     Photo
480     Photo
481      Link
482     Photo
483     Photo
484     Photo
485      Link
486     Photo
487     Photo
488     Photo
489     Photo
490     Photo
491     Photo
492      Link
493     Photo
494     Photo
495     Photo
496     Photo
497     Photo
498     Photo
499     Photo
Name: Type, Length: 500, dtype: object

Subsetting -

In [12]:
subset_df = df[['Type','like']]
subset_df

       Type    like
0     Photo    79.0
1    Status   130.0
2     Photo    66.0
3     Photo  1572.0
4     Photo   325.0
5    Status   152.0
6     Photo   249.0
7     Photo   325.0
8    Status   161.0
9     Photo   113.0
10   Status   233.0
11    Photo    88.0
12    Photo    90.0
13    Photo   137.0
14    Photo   577.0
15   Status    86.0
16    Photo    40.0
17    Photo   678.0
18   Status    54.0
19    Photo    34.0
20    Photo    66.0
21    Photo     0.0
22     Link    16.0
23    Photo    72.0
24   Status    99.0
25   Status    88.0
26   Status   412.0
27    Photo   100.0
28    Photo   523.0
29    Video   143.0
..      ...     ...
470    Link   114.0
471   Photo   160.0
472   Photo    46.0
473   Photo   136.0
474   Photo    73.0
475   Photo    65.0
476   Photo   579.0
477    Link   101.0
478   Photo    74.0
479   Photo    84.0
480   Photo   360.0
481    Link     5.0
482   Photo   187.0
483   Photo    69.0
484   Photo    82.0
485    Link    12.0
486   Photo    56.0
487   Photo    44.0
488   Photo   277.0
489   Photo    74.0
490   Photo    79.0
491   Photo   105.0
492    Link   128.0
493   Photo   185.0
494   Photo   125.0
495   Photo    53.0
496   Photo    53.0
497   Photo    93.0
498   Photo    91.0
499   Photo    91.0

[500 rows x 2 columns]

In [13]:
df[0:2]

,Page_total_likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164

In [14]:
dff =df[df.share>140]
dff

,Page_total_likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
460,92507,Photo,3,2,1,13,0.0,55520,665792,4544,3586,6624,648611,47488,3430,146,1546.0,181.0,1873

Merging -

In [15]:
subset1_df = df[['Type','like']]
subset2_df = df[['Type','share']]
result = pd.merge(subset1_df, subset2_df, on='Type') 
result

         Type   like  share
0       Photo   79.0   17.0
1       Photo   79.0   14.0
2       Photo   79.0  147.0
3       Photo   79.0   49.0
4       Photo   79.0   27.0
5       Photo   79.0   14.0
6       Photo   79.0   26.0
7       Photo   79.0   18.0
8       Photo   79.0   14.0
9       Photo   79.0   10.0
10      Photo   79.0   20.0
11      Photo   79.0   12.0
12      Photo   79.0   20.0
13      Photo   79.0    8.0
14      Photo   79.0   12.0
15      Photo   79.0    0.0
16      Photo   79.0   24.0
17      Photo   79.0   17.0
18      Photo   79.0   63.0
19      Photo   79.0   22.0
20      Photo   79.0   11.0
21      Photo   79.0   47.0
22      Photo   79.0   23.0
23      Photo   79.0   17.0
24      Photo   79.0   21.0
25      Photo   79.0   17.0
26      Photo   79.0    8.0
27      Photo   79.0   14.0
28      Photo   79.0    3.0
29      Photo   79.0   11.0
...       ...    ...    ...
184004  Video  449.0   76.0
184005  Video  449.0   44.0
184006  Video   99.0   13.0
184007  Video   99.0   14.0
184008  Video   99.0   84.0
184009  Video   99.0   13.0
184010  Video   99.0  121.0
184011  Video   99.0   76.0
184012  Video   99.0   44.0
184013  Video  345.0   13.0
184014  Video  345.0   14.0
184015  Video  345.0   84.0
184016  Video  345.0   13.0
184017  Video  345.0  121.0
184018  Video  345.0   76.0
184019  Video  345.0   44.0
184020  Video  315.0   13.0
184021  Video  315.0   14.0
184022  Video  315.0   84.0
184023  Video  315.0   13.0
184024  Video  315.0  121.0
184025  Video  315.0   76.0
184026  Video  315.0   44.0
184027  Video  204.0   13.0
184028  Video  204.0   14.0
184029  Video  204.0   84.0
184030  Video  204.0   13.0
184031  Video  204.0  121.0
184032  Video  204.0   76.0
184033  Video  204.0   44.0

[184034 rows x 3 columns]

Sorting-

In [16]:
df.sort_values("Type",ascending = True)

,Page_total_likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
438,98195,Link,2,3,6,6,0.0,5730,10083,103,71,97,8964,4830,92,2,32.0,15.0,49
470,91437,Link,1,2,3,13,0.0,9356,14986,448,381,505,13919,8460,392,4,114.0,13.0,131
41,138895,Link,1,12,6,3,1.0,18480,28438,517,366,460,12078,6752,319,6,187.0,18.0,211
43,138353,Link,1,12,5,3,1.0,2645,4270,134,109,170,2330,1377,101,7,29.0,10.0,46
45,138353,Link,1,12,4,3,1.0,7968,13023,206,158,223,6734,3492,138,4,57.0,10.0,71
47,138353,Link,1,12,3,2,0.0,1925,3481,97,83,126,2307,1180,77,6,18.0,8.0,32
49,138353,Link,1,12,2,2,0.0,1536,3094,84,76,99,2903,1407,76,1,12.0,1.0,14
430,100732,Link,1,3,7,14,0.0,2933,5144,24,23,26,3972,2012,19,0,6.0,0.0,6
425,102112,Link,3,3,1,3,0.0,6876,10885,282,245,337,9403,5752,259,2,68.0,15.0,85
86,137177,Link,1,11,4,3,0.0,21176,54779,330,228,329,13858,5248,185,2,130.0,31.0,163
408,106928,Link,1,4,6,4,0.0,34192,42092,338,322,389,22907,16464,230,1,36.0,7.0,44
403,107907,Link,1,4,2,6,0.0,70912,94172,1374,1106,1267,42338,27232,788,1,379.0,40.0,420
344,117764,Link,1,5,1,2,0.0,12540,19301,344,322,396,16914,11008,289,3,46.0,14.0,63
149,135713,Link,1,10,6,11,1.0,3616,6887,111,90,118,4263,2138,93,0,24.0,11.0,35
140,136013,Link,1,10,4,3,0.0,68992,229733,1032,975,1345,17842,8032,635,15,143.0,44.0,202
136,136393,Link,1,10,5,10,0.0,4664,9463,204,182,251,7196,3324,173,0,32.0,16.0,48
22,138414,Link,1,12,7,10,0.0,3454,6853,118,104,130,6282,3100,106,0,16.0,2.0,18
477,86909,Link,1,1,6,4,0.0,39600,7927,572,496,581,12522,8176,167,1,101.0,5.0,107
372,113028,Link,1,4,5,7,1.0,35360,45260,339,325,477,9105,5472,156,7,38.0,11.0,56
481,86491,Link,1,1,4,4,1.0,4938,7910,66,63,70,6625,3804,59,0,5.0,2.0,7
485,86491,Link,1,1,2,2,0.0,5168,8371,66,59,71,7041,3996,58,0,12.0,2.0,14
492,85979,Link,1,1,5,11,0.0,45920,5808,753,655,763,15766,10720,220,0,128.0,9.0,137
268,128032,Photo,1,7,5,3,0.0,6408,11881,909,861,14974,7243,4040,490,26,162.0,7.0,195
342,117764,Photo,2,5,2,11,0.0,6444,11509,734,625,1157,7910,4136,512,5,194.0,33.0,232
256,129600,Photo,1,7,4,6,1.0,31904,50539,863,770,1106,24010,12992,583,2,126.0,32.0,160
341,117764,Photo,3,5,3,11,0.0,3528,6181,470,415,583,4249,2352,322,2,95.0,17.0,114
340,117764,Photo,3,5,4,4,0.0,5016,8745,679,569,966,5904,3322,488,6,212.0,36.0,254
339,117764,Photo,1,5,4,10,0.0,18056,32576,1062,875,1389,26514,14728,701,25,307.0,58.0,390
338,119198,Photo,3,5,5,10,1.0,6460,11373,823,706,1197,6279,3612,505,25,244.0,44.0,313
337,119198,Photo,3,5,6,6,0.0,2812,4954,536,485,672,3382,1853,323,4,79.0,16.0,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,135195,Status,2,9,1,10,0.0,21256,41906,4840,4754,5906,35455,17592,4318,38,163.0,27.0,228
98,137020,Status,2,10,5,3,1.0,12468,24917,2143,1966,2576,15850,7636,1661,7,310.0,61.0,378
175,135195,Status,2,9,6,10,1.0,13216,24738,2675,2584,2969,19599,10232,2342,2,165.0,22.0,189
202,132817,Status,2,8,3,2,1.0,9236,16054,1151,1130,1560,14014,7880,1075,2,53.0,15.0,70
72,137893,Status,3,11,4,11,0.0,9056,16362,1006,847,1153,9562,5180,740,3,226.0,44.0,273
84,137177,Status,3,11,5,2,0.0,6692,13092,199,108,141,7549,3336,156,2,99.0,16.0,117
107,136736,Status,2,10,1,4,0.0,9504,19556,1132,1032,1512,16018,7616,981,17,193.0,28.0,238
109,136736,Status,2,10,7,3,0.0,13872,27468,2664,2570,3395,20198,10432,2252,4,217.0,50.0,271
225,131808,Status,2,7,5,14,0.0,15296,25269,2827,2781,3627,22103,13296,2602,9,95.0,17.0,121
334,119198,Status,2,5,1,2,0.0,10152,17099,1636,1599,2755,15382,8980,1613,2,55.0,10.0,67
163,135617,Status,2,9,6,4,0.0,11096,21080,1843,1724,2106,16095,8120,1604,4,243.0,41.0,288
217,131956,Status,2,8,2,12,0.0,14424,26000,304,286,383,25539,14056,291,41,15.0,1.0,57
285,126141,Status,2,6,6,4,0.0,8628,14847,870,843,1692,11970,6796,774,4,72.0,18.0,94
121,136393,Status,2,10,7,9,0.0,15816,30514,2733,2654,3289,23584,11912,2361,6,186.0,40.0,232
282,126345,Status,2,6,7,11,0.0,12044,20327,2240,2193,3599,17717,10400,2119,0,104.0,13.0,117
222,131808,Status,2,8,7,4,0.0,8260,14305,997,953,1211,12905,7360,956,1,74.0,11.0,86
223,131808,Status,2,8,6,10,1.0,20168,35904,3370,3244,5106,26881,15056,2806,18,332.0,54.0,404
40,138895,Status,2,12,6,11,0.0,13280,24198,2055,1912,2720,17627,9344,1716,7,216.0,39.0,262
416,104070,Status,1,3,3,15,0.0,9120,14759,951,937,1290,13246,8004,924,3,25.0,6.0,34
38,138895,Status,2,12,7,9,0.0,17576,33058,5352,5202,6547,23135,11792,4104,11,227.0,31.0,269
275,126424,Status,2,7,3,13,0.0,18320,31448,3742,3682,7854,25584,14920,3300,36,98.0,14.0,148
80,137177,Status,2,11,7,3,0.0,8728,17827,2295,2235,2828,15418,7344,2099,2,86.0,13.0,101
180,134879,Status,2,9,4,4,1.0,9124,17776,1476,1397,1797,13887,7092,1331,20,150.0,29.0,199
183,134879,Video,1,9,2,10,0.0,30624,56950,2080,1956,3253,32033,15744,1376,6,345.0,121.0,472
29,138895,Video,1,12,4,11,1.0,36208,61262,1141,1068,1728,30131,14112,559,18,143.0,13.0,174
71,137893,Video,1,11,5,3,1.0,100768,220447,2101,1735,2331,59658,18880,885,17,449.0,84.0,550
55,138329,Video,1,11,6,2,1.0,16416,31950,459,411,539,21436,9568,363,2,65.0,14.0,81
277,126424,Video,1,6,2,13,0.0,139008,277100,1779,1643,2356,107502,38720,1008,23,204.0,44.0,271
243,130791,Video,1,7,3,11,1.0,21872,40413,3872,3822,7327,24667,12920,2218,18,315.0,76.0,409
74,137893,Video,1,11,3,11,0.0,13544,30235,517,458,667,26622,11760,447,2,99.0,13.0,114

Transpose -

In [21]:
transp_df = df.transpose()
print(transp_df.shape)
transp_df.head()

(19, 500)

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
Page_total_likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85093,85093,85093,81370,81370,81370,81370
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,1,3,3,3,2,1,3,2
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,6,6,5,1,7,7,5,5,4,4

Melting (wide to long) -

In [18]:
#df2 = pd.melt(df, id_vars=['Type'],  var_name='metrics', value_name='values')
df2 = pd.melt(df, id_vars=['Type'],  var_name='metrics', value_name='values')
df2

        Type             metrics    values
0      Photo    Page_total_likes  139441.0
1     Status    Page_total_likes  139441.0
2      Photo    Page_total_likes  139441.0
3      Photo    Page_total_likes  139441.0
4      Photo    Page_total_likes  139441.0
5     Status    Page_total_likes  139441.0
6      Photo    Page_total_likes  139441.0
7      Photo    Page_total_likes  139441.0
8     Status    Page_total_likes  139441.0
9      Photo    Page_total_likes  139441.0
10    Status    Page_total_likes  139441.0
11     Photo    Page_total_likes  139441.0
12     Photo    Page_total_likes  139441.0
13     Photo    Page_total_likes  139441.0
14     Photo    Page_total_likes  138414.0
15    Status    Page_total_likes  138414.0
16     Photo    Page_total_likes  138414.0
17     Photo    Page_total_likes  138414.0
18    Status    Page_total_likes  138414.0
19     Photo    Page_total_likes  138414.0
20     Photo    Page_total_likes  138414.0
21     Photo    Page_total_likes  138414.0
22      Link    Page_total_likes  138414.0
23     Photo    Page_total_likes  138414.0
24    Status    Page_total_likes  138414.0
25    Status    Page_total_likes  138458.0
26    Status    Page_total_likes  138458.0
27     Photo    Page_total_likes  138458.0
28     Photo    Page_total_likes  138895.0
29     Video    Page_total_likes  138895.0
...      ...                 ...       ...
8970    Link  Total Interactions     131.0
8971   Photo  Total Interactions     224.0
8972   Photo  Total Interactions      61.0
8973   Photo  Total Interactions     182.0
8974   Photo  Total Interactions      86.0
8975   Photo  Total Interactions      84.0
8976   Photo  Total Interactions     633.0
8977    Link  Total Interactions     107.0
8978   Photo  Total Interactions     106.0
8979   Photo  Total Interactions     127.0
8980   Photo  Total Interactions     515.0
8981    Link  Total Interactions       7.0
8982   Photo  Total Interactions     226.0
8983   Photo  Total Interactions      97.0
8984   Photo  Total Interactions     108.0
8985    Link  Total Interactions      14.0
8986   Photo  Total Interactions      83.0
8987   Photo  Total Interactions      66.0
8988   Photo  Total Interactions     378.0
8989   Photo  Total Interactions     103.0
8990   Photo  Total Interactions     110.0
8991   Photo  Total Interactions     152.0
8992    Link  Total Interactions     137.0
8993   Photo  Total Interactions     257.0
8994   Photo  Total Interactions     176.0
8995   Photo  Total Interactions      84.0
8996   Photo  Total Interactions      75.0
8997   Photo  Total Interactions     115.0
8998   Photo  Total Interactions     136.0
8999   Photo  Total Interactions     119.0

[9000 rows x 3 columns]

In [19]:
#df3 = df2.pivot(index=["Type"], columns=['metrics'], values='valuess')

Casting -

In [22]:
df4 = pd.pivot_table(df2, values = 'values', index=['Type'], columns = 'metrics').reset_index()

In [23]:
df4

metrics,Type,Category,Lifetime Engaged Users,Lifetime People who have liked your Page and engaged with your post,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post Total Impressions,Lifetime Post Total Reach,Lifetime Post reach by people who like your Page,Page_total_likes,Paid,Post Hour,Post Month,Post Weekday,Total Interactions,comment,like,share
0,Link,1.136364,342.818182,210.545455,292.681818,374.090909,11148.590909,28725.454545,18544.590909,6544.363636,116363.181818,0.272727,5.727273,6.590909,4.272727,89.045455,2.818182,73.318182,12.909091
1,Photo,1.917840,818.946009,507.305164,690.431925,1299.025822,16422.483568,28994.497653,13137.814554,6059.103286,122354.171362,0.280000,7.997653,6.805164,4.107981,216.579812,7.492958,182.611765,27.158768
2,Status,2.022222,2040.222222,1719.844444,1949.555556,2838.866667,18664.266667,24244.466667,13078.888889,9908.577778,132647.044444,0.222222,7.244444,9.066667,4.577778,217.044444,8.911111,176.711111,31.422222
3,Video,1.000000,1707.000000,979.428571,1584.714286,2600.142857,43149.857143,102622.428571,51205.714286,17386.285714,135014.857143,0.571429,8.714286,9.571429,3.571429,295.857143,12.285714,231.428571,52.142857